Topdown/manager.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/manager/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="manager" targetNamespace="http://www.example.org/manager/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/manager/">
      <xsd:element name="add">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="x" type="xsd:double" />
          	<xsd:element name="y" type="xsd:double"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="addReturn" type="xsd:double"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="mul">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="x" type="xsd:double"></xsd:element>
      			<xsd:element name="y" type="xsd:double"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="mulResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="mulReturn" type="xsd:double"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="sub">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="x" type="xsd:double"></xsd:element>
      			<xsd:element name="y" type="xsd:double"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="subResponse">
      	<xsd:complexType>
      		<xsd:sequence>

                        <xsd:element name="subReturn" type="xsd:double"></xsd:element>
                    </xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="div">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="x" type="xsd:double"></xsd:element>
      			<xsd:element name="y" type="xsd:double"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="divResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="divReturn" type="xsd:double"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="addRequest">
    <wsdl:part element="tns:add" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part element="tns:addResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="mulRequest">
  	<wsdl:part name="parameters" element="tns:mul"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="mulResponse">
  	<wsdl:part name="parameters" element="tns:mulResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="subRequest">
  	<wsdl:part name="parameters" element="tns:sub"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="subResponse">
  	<wsdl:part name="parameters" element="tns:subResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="divRequest">
  	<wsdl:part name="parameters" element="tns:div"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="divResponse">
  	<wsdl:part name="parameters" element="tns:divResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="manager">
    <wsdl:operation name="add">
      <wsdl:input message="tns:addRequest"/>
      <wsdl:output message="tns:addResponse"/>
    </wsdl:operation>
    <wsdl:operation name="mul">
    	<wsdl:input message="tns:mulRequest"></wsdl:input>
    	<wsdl:output message="tns:mulResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sub">
    	<wsdl:input message="tns:subRequest"></wsdl:input>
    	<wsdl:output message="tns:subResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="div">
    	<wsdl:input message="tns:divRequest"></wsdl:input>
    	<wsdl:output message="tns:divResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="managerSOAP" type="tns:manager">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="add">
      <soap:operation soapAction="http://www.example.org/manager/add"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mul">
      <soap:operation soapAction="http://www.example.org/manager/mul"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sub">
      <soap:operation soapAction="http://www.example.org/manager/sub"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="div">
      <soap:operation soapAction="http://www.example.org/manager/div"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="manager">
    <wsdl:port binding="tns:managerSOAP" name="managerSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
